@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #1a1a1a;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0px ;
    background-color: #ffffff;
}
a{
    text-decoration: none;
    font-size: 18px;
}
header nav a{
    padding: 5px 20px;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg{
    width: 20px;
}
header ul li{
    margin-left: 20px;
}
header li button{
    outline: none;
    border: none;
    background: transparent;
}

main{
    background: #02C567;
    padding: 40px;
    background-image: url("images/hero.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 300px;
    border-radius: 8px;
}
.container{
    width: 80%;
    margin: 0px auto;
    margin-bottom: 50px;
}

main h1, main h6, main p{
    color: #ffffff;
}

main #promo{
    width: 50%;
}

main h1{
    font-size: 32px;
    font-weight: 500;
}
main h6{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

main p{
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
}

section h2{
    text-align: center;
    margin-bottom: 30px;
}

#product-container{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-between;
}

.products img{
    width: 100%;
}

.products{
    background: #F3F3F3;
    margin-bottom: 90px;
    box-shadow: 4px 4px 4px 0px rgba(206, 206, 206, 0.25);
    cursor: pointer;
    position: relative;
}
.products h4{
    font-size: 18px;
    padding: 3px 0px;
}
.products div{
    padding: 10px;
}
.add-to-cart{
    display: none;
    position: absolute;
    z-index: 1;
    background: #F3F3F3;
    width: 100%;
    box-shadow: -4px 4px 4px rgba(206, 206, 206, 0.25), 4px 4px 4px rgba(206, 206, 206, 0.25);
    border-radius: 8px;


}
.add-to-cart button{
    background: #7D0A80;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #ffffff;
    padding: 8px 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.add-to-cart button svg{
    stroke: #ffffff;
    margin: 10px;
}

.products:hover .add-to-cart{
    display: block;
}

footer{
    background: #B2ADD4;
    padding: 40px 4%; 
}
footer #wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;

}

footer #wrapper div{
    width: 24%;
    display: flex;
    flex-direction: column;
}

footer #wrapper div a{
    padding: 5px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

footer svg{
    margin-right: 8px;
}

footer p{
    color: #1a1a1a;
    text-align: center;
    margin-top: 30px;
}

#pagination{
    text-align: center;
}

#pagination h3{
    color: #7D0A80;
}
#pagination p{
    font-size: 20px;
}
#pagination p span{
    color: #02C567;
}

#btn-wrapper{
    display: none;
}

@media (max-width:1100px) {
    .container{
        width: 90%;
    }
}

#product-container{
    grid-template-columns:31% 31% 31% ;
}

@media (max-width:934px) {
    #product-container{
        grid-template-columns:46% 46% 46% ;
    }
    footer #wrapper div{
        width: 46%;
        margin-bottom: 30px;
    }
    .add-to-cart{
        display: block;
    }
    .products{
        margin-bottom: 100px;
    }

    main{
        height: auto;
    }
    main #promo{
        width: 70%;
    }
}

@media (max-width:900px){
    nav{
        position: absolute;
        left: 0;
        top: 80px;
        background: #ffffff;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 50px 0px;
        z-index: 5;
        display: none;
    }
    nav a{
        padding: 10px 0px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    nav.show{
        display: flex;
    }
    #btn-wrapper{
        display: block;
    }
}

@media (max-width:650px){
    #product-container{
        grid-template-columns: 100%;;
    }
    footer #wrapper div{
        width: 100%;
        margin-bottom: 30px;
    }
    main #promo{
        width: 100%;
    }

    main {
        background-position: center bottom;
    }
}
